<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/auth/register">
    <div style="width: 300px; height: 300px; margin: auto; margin-top: 50px" >
        <div style="padding: 20px">
            <label>Username:</label>
            <input name="username" type="text" style="width: 200px; height: 25px;" required>
        </div>
        <div style="padding: 20px">
            <label>Password:</label>
            <input name="password" type="password" style="width: 200px; height: 25px;" required>
        </div>
        <div style="padding: 20px">
            <label>First name:</label>
            <input name="firstname" type="text" style="width: 200px; height: 25px;" required>
        </div>
        <div style="padding: 20px">
            <label>Last name:</label>

            <input name="lastname" type="text" style="width: 200px; height: 25px;" required>
        </div>
        <div style="padding: 20px">
            <label>Email:</label><br>

            <input name="email" type="text" style="width: 200px; height: 25px;" required>
        </div>
        <div style="padding: 20px">
            <label>Phone:</label><br>
            <input name="phonenumber" type="text" style="width: 200px; height: 25px;" required>
        </div>
        <div style="padding: 20px">
            <label>Gender:</label>
            <input name="gender" type="text" style="width: 200px; height: 25px;" required>
        </div>


        <div style="padding: 20px">
            <input type="submit" value="Register" style="width: 200px; height: 25px;">
        </div>
    </div>
</form>
</body>
</html>