<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/auth/register-member">
    <div style="width: 300px; height: 300px; margin: auto; margin-top: 50px" >
        <div style="padding: 20px">
            <label>Months of subscription:</label>
            <input name="months" type="number" style="width: 200px; height: 25px;" required min="1" max="12">
        </div>
        <div style="padding: 20px">
            <input type="submit" style="width: 200px; height: 25px;" required>
        </div>
    </div>
</form>
</body>
</html>